body {
	font-family: verdana;
    border-top: 10px solid #3f729b;
}

h6 {
    color: gray;
}

#results li ol {
	margin-bottom: 1em;
    list-style-type: none;
}

#results a {
    color: black;
    text-decoration: none;
}

#results a:hover {
    color: blue;
    text-decoration: underline;
}

#results img {
    display: inline-block;
}

#results .description {
    display: inline-block;
    margin-left: 1em;
    max-width: 80%;
    vertical-align: top;
}

#error {
	color: red;
}


